.navbar {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 10px 0;
    border: 0;
    height: 60px;
    position: fixed;
    background: var(--white-color);
    z-index: 1000;
    box-shadow: 0 0 1px 0 rgb(0 0 0 / 50%);
}

.navbar__content {
    display: flex;
}

.navbar__logo {
    margin: -5px;
}

.navbar__logo-link {
    text-decoration: none;
}

.navbar__logo-img {
    height: 50px;
    vertical-align: middle;
}


/* Nav bar menu */

.navbar__menu {
    display: flex;
    margin-left: 48px;
    align-items: center;
    height: 40px;
}

.navbar__menu .navbar__menu-list {
    color: var(--tex-color);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0px 15px;
    height: 30px;
    line-height: 28px;
    border: 1px solid #ccc;
    border-radius: 20px;
    z-index: 10;
    margin: 5px;
    position: relative;
}


/* Menusub */

.navbar__menu-list .menusub {
    position: fixed;
    top: 60px;
    padding: 10px 0;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    border: 1px solid #ccc;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    display: none;
}

.menusub__content {
    display: grid;
}

.menusub__genre-item {
    float: left;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-color);
    margin-right: 3px;
    padding: 0 5px;
    line-height: 1.4rem;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.menusub__item {
    width: 155px;
    height: 87px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
}

.menusub__item-img {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    border: 0;
    vertical-align: middle;
    transition: transform .2s;
}

.menusub__item-title {
    position: absolute;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--white-color);
    text-decoration: none;
    top: 60px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    padding: 0 5px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    background: linear-gradient(transparent, rgba(0, 0, 0, .1), rgba(0, 0, 0, .3), rgba(0, 0, 0, .5), rgba(0, 0, 0, .7), rgba(0, 0, 0, .9));
}

.menusub__item:hover .menusub__item-img {
    transform: scale(1.1);
}

.menusub__item:hover .menusub__item-title {
    color: #d80f16;
}

.navbar .navbar__menu-list:hover {
    height: 58px;
    margin-top: 34px;
    line-height: 28px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}

.navbar__menu-list:hover .menusub {
    display: block;
}


/* Nav bar search */

.navbar__search {
    margin-left: 50px;
    padding: 5px;
    width: 320px;
}

.navbar__search-box {
    position: relative;
}

.navbar__search-input {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
}

.navbar__icon-search {
    position: absolute;
    top: 3px;
    right: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    color: #999;
}

.navbar__icon-search:hover {
    color: var(--black-color);
}

.navbar__header-user {
    margin-left: 260px;
    display: flex;
    align-items: center;
}

.navbar__convert {
    margin-right: 10px;
    background-color: #eee;
    border-radius: 20px;
}

.navbar__convert:hover {
    color: #fff;
    background-color: #5b7dff;
}

.navbar__user {
    background-color: #999;
    color: var(--white-color);
    border-radius: 20px;
}

.navbar__header-user--icon {
    width: 40px;
    height: 40px;
    padding-top: 6px;
    text-align: center;
    cursor: pointer;
}


/* Navbar login and signup */

.navbar__overlay {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
    display: none;
}

.navbar__overlay.active {
    display: block;
}

.navbar__right {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    z-index: 100;
    width: 300px;
    max-width: 100%;
    box-shadow: 0 0 10px #999;
    background-color: var(--white-color);
    transition: 850ms;
}

.navbar__right.active {
    right: 0;
    transition: 350ms;
}

.navbar__right-header {
    position: relative;
    height: 120px;
    padding: 10px;
    background: url(https://vuighe.net/assets/img/navbar-user-header.jpg);
}

.navbar__user-avatar {
    width: 80px;
    height: 80px;
    float: right;
    background-color: rgba(0, 0, 0, .25);
    border-radius: 50%;
}

.navbar__welcome {
    position: absolute;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.4rem;
    top: 55px;
}

.navbar__tab {
    position: absolute;
    bottom: 0;
    height: 30px;
    line-height: 30px;
}

.navbar__tab-item {
    float: left;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 30px;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0.8;
}

.navbar__tab-item.active {
    opacity: 1;
}

.navbar__user-body {
    position: relative;
    max-height: 600px;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    display: none;
}

.navbar__user-body.active {
    display: block;
}

.navbar__form-group {
    display: block;
    margin-bottom: 10px;
    position: relative;
    font-size: 1.2rem;
    color: var(--text-color);
}

.navbar__form-group label {
    display: block;
}

.navbar__form-group--input {
    width: 100%;
    height: 30px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 2px;
    padding-left: 30px;
}

.navbar__form-group--icon {
    position: absolute;
    bottom: 7px;
    left: 0;
    width: 30px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #000;
    text-transform: none;
}

.navbar__form-checkbox {
    position: absolute;
    color: #888;
    display: inline-block;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 40px;
}

.navbar__form-checkbox input {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
}

.navbar__form-checkbox span {
    position: relative;
    padding-left: 20px;
}

.navbar__form-checkbox input:checked+span {
    color: #d80f16;
}

.navbar__form-checkbox input:checked+span::before {
    position: absolute;
    top: 6px;
    left: 4px;
    width: 6px;
    height: 6px;
    content: "";
    background: #d80f16;
}

.navbar__form-checkbox span::after {
    position: absolute;
    top: 2px;
    left: 0;
    width: 12px;
    height: 12px;
    content: "";
    border: 1px solid #ccc;
    border-radius: 2px;
}

.navbar__fogot-password {
    font-weight: 700;
    float: right;
    margin-top: 5px;
    text-decoration: underline;
}

.navbar__login {
    width: 100%;
    margin-top: 20px;
    padding-left: 22px;
    background: #a0a0a0;
    border-color: #a0a0a0;
    color: var(--black-color);
    font-weight: 600;
}

.navbar__login:hover {
    background: #8c8c8c;
    border-color: #8c8c8c;
}

hr {
    box-sizing: content-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ddd;
}

.navbar__facebook {
    color: var(--white-color);
    background: #3b5998;
    border-color: #3b5998;
}

.facebook-login i {
    color: var(--white-color);
}

.navbar__google {
    color: var(--white-color);
    background: #c23321;
    border-color: #c23321;
}

.google-login i {
    color: var(--white-color);
}

.navbar__form-group.navbar__radio-box {
    position: relative;
    color: #888;
    cursor: pointer;
    margin-top: 5px;
    display: block;
    margin-right: 40px;
}

.navbar__radio-box {
    display: inline-block !important;
    margin-right: 32px;
    margin-top: 10px;
}

.navbar__radio-box input {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
}

.navbar__radio-box span {
    position: relative;
    padding-left: 20px;
}

.navbar__radio-box input:checked+span {
    color: #d80f16;
}

.navbar__radio-box input:checked+span::before {
    position: absolute;
    top: 5px;
    left: 3px;
    width: 6px;
    height: 6px;
    content: "";
    background: #d80f16;
}

.navbar__radio-box span::after {
    position: absolute;
    top: 2px;
    left: 0;
    width: 10px;
    height: 10px;
    content: "";
    border: 1px solid #ccc;
    border-radius: 2px;
}

.navbar__form-group.navbar__birthday {
    position: relative;
    float: left;
    width: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.navbar__birthday {
    display: inline-block !important;
    margin-right: 12px;
}

.navbar__birthday input {
    height: 30px;
    width: 100%;
    padding-left: 14px;
    border: 1px solid #ddd;
    border-radius: 2px;
    outline: none;
}

.navbar__close {
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--black-color);
    cursor: pointer;
}


/* Container */

.container {
    position: relative;
    padding: 60px 0;
}


/* Slider-Wrapper */

.slider__wrapper {
    margin-top: 20px;
    overflow: hidden;
}

.slider__container {
    position: relative;
    overflow: hidden;
    width: 1320px;
}

.slider__cover {
    position: relative;
    width: 980px;
    height: 290px;
    float: left;
    background: #ccc;
}

.slider__cover a {
    z-index: 69;
}

.slider__cover.slider__progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: rgba(0, 0, 0, .1);
    z-index: 99;
}

.slider__progress-bar.slider__progress {
    width: 0;
    height: 1px;
    background: #d80f16;
}

.slider__cover a,
.slider__cover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.slider__play-button,
.slider__meta {
    position: absolute;
    color: var(--white-color);
}

.slider__play-button {
    left: 10px;
    bottom: 10px;
    z-index: 2;
    width: 70px;
    height: 70px;
    padding-left: 10px;
    background: rgba(0, 0, 0, .6);
    line-height: 68px;
    border-radius: 100%;
}

.slider__meta {
    padding: 40px 90px 20px;
    width: 100%;
    z-index: 1;
    bottom: 0;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .1), rgba(0, 0, 0, .3), rgba(0, 0, 0, .5));
}

.slider__views {
    font-size: 1.2rem;
    font-weight: 600;
}

.slider__title {
    font-size: 1.8rem;
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slider__item {
    width: 320px;
    height: 90px;
    position: relative;
    float: left;
    background: #ccc;
}

.slider__item-img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.slider__cover,
.slider__item {
    margin-right: 10px;
    margin-bottom: 10px;
}

.slider__item:hover {
    opacity: 0.8;
}


/* Tray container */

.tray {
    clear: both;
    margin-top: 20px;
    overflow: hidden;
}

.tray__title {
    position: relative;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 6px;
    font-weight: 600;
}

.tray__title h1 {
    margin: unset;
    font: unset;
    display: unset;
}

.tray__title .tray__title-icon {
    position: absolute;
    margin-left: 16px;
    top: -5px;
}

.tray__item {
    width: 320px;
    height: auto;
    position: relative;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.tray__item-img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    transition: transform .3s;
}

.tray__item-description {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 81px;
    padding: 30px 15px 10px;
    width: 100%;
    color: var(--white-color);
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .1), rgba(0, 0, 0, .3), rgba(0, 0, 0, .5), rgba(0, 0, 0, .7), rgba(0, 0, 0, .9));
}

.tray__item-title {
    font-size: 1.6rem;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    white-space: nowrap;
}

.tray__item-meta--info {
    font-size: 12px;
}

.tray__episode-name {
    float: left;
    overflow: hidden;
    display: block;
}

.tray__episode-views {
    float: right;
    overflow: hidden;
}

.tray__item-play--button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 70px;
    height: 70px;
    opacity: 0;
    line-height: 68px;
    padding-left: 10px;
    border-radius: 100%;
    box-shadow: 0 0 10px #fff;
    background: rgba(0, 0, 0, .6);
    color: var(--white-color);
    transition: opacity .3s, visibility .3s;
    visibility: hidden;
}

.tray__item-complete {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: rgba(5, 95, 60, .6);
    color: var(--white-color);
    text-align: center;
    font-size: 14px;
    padding-top: 18px;
    text-transform: uppercase;
    font-weight: 600;
}

.tray__item:hover .tray__item-img {
    transform: scale(1.2);
}

.tray__item:hover .tray__item-play--button {
    opacity: 1;
    visibility: visible;
}

.tray__item:hover .tray__item-complete {
    display: none;
}


/* Tray news */

.news__item {
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 320px;
    height: auto;
    float: left;
}

.news__item-img {
    width: 150px;
    height: 89px;
    float: left;
    margin-right: 10px;
    vertical-align: middle;
    transition: opacity .3s ease-in-out;
}

.news__item-img img {
    width: 100%;
    height: 100%;
}

.news__item-img:hover {
    opacity: 0.8;
}

.news__item-meta {
    width: 160px;
    height: 89px;
    overflow: hidden;
    float: left;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 700;
}


/* Tray item */

.manga__item {
    width: 210px;
    height: 315px;
    margin-right: 10px;
    position: relative;
    margin-bottom: 10px;
    float: left;
}

.manga__item img {
    border: 0;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.manga__item-title {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 30px 10px 10px;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--white-color);
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .1), rgba(0, 0, 0, .3), rgba(0, 0, 0, .5), rgba(0, 0, 0, .7), rgba(0, 0, 0, .9));
}

.manga__item--info {
    position: absolute;
    top: 0;
    padding: 10px;
    font-size: 1.4rem;
    color: var(--white-color);
}

.manga__item-label {
    padding: 0 5px;
    border: 1px solid;
    border-radius: 3px;
    background: rgba(0, 0, 0, .5);
}

.manga__item img:hover {
    opacity: 0.8;
}

.collection__item {
    width: 320px;
    height: auto;
    position: relative;
    float: left;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
}

.collection__item-img {
    width: 100%;
}